@import '../../../public/assets/assets.module.scss';
.jumbotron {
    font-size: $font1;
    background-color: $white;  
    padding: 2rem 1rem;
}
.giftGivingSvg {
    width: 80%;
    max-height: 60vh;
    margin: 0 10%;
}
