@import '../../../public/assets/assets.module.scss';
.cartItemContainer {
    padding: .5rem;
    border-radius: 1rem;
    background-color: $white;
}
.removeCartItem {
    color: $accent-color;
    &:hover {
        transform: scale(1.2);
    }
}
.imageStyle {
    max-height: 6rem;
}